<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(title=#{title.coin.overview})">
</head>
<link rel="icon"
      href="https://purepng.com/public/uploads/large/purepng.com-dollar-coinobjectsdollar-coinmoneycashdollarcoinobjectgoldcurrencyusacentmoneycashdollarcoinobjectgoldcurrencyusacent-631522323253awxb9.png">

<body>
<header th:replace="fragments/header :: header(current='collectorOverview')"></header>

<main class="container">
    <h2 th:text="#{title.coin.overview}"></h2>

    <div th:if="${searchError}!=null" class="alert-danger">
        <span th:text="#{${searchError}}"></span>
    </div>


    <p th:text="${preway}"></p>
   <form class="d-flex flex-row bd-highlight justify-content-between align-items-baseline" method="GET"
          th:action="@{/collectors/search}">

        <label class="col-form-label" for="way" th:text="#{search.method}"></label>
        <select class="form-select" aria-label="Default select example" name="way" id="way">

            <option th:if="${preway == null}" hidden th:text="#{select.search.method}" selected></option>
            <option th:unless="${preway == null}" hidden th:text="#{select.search.method}"></option>


            <option th:if="${preway == 'regio'}" th:text="#{search.by.regio}" th:value="regio" selected></option>
            <option th:unless="${preway == 'regio'}" th:text="#{search.by.regio}" th:value="regio"></option>

            <option th:if="${preway == 'name'}" th:text="#{search.by.name}" th:value="name" selected></option>
            <option th:unless="${preway == 'name'}" th:text="#{search.by.name}" th:value="name"></option>

            <option th:if="${preway == 'firstname'}" th:text="#{search.by.firstname}" th:value="firstname" selected></option>
            <option th:unless="${preway == 'firstname'}" th:text="#{search.by.firstname}" th:value="firstname"></option>


        </select>

        <p class="mb-3 d-flex flex-row justify-content-center">
            <label class="col-form-label" th:for="search" th:text="#{search.field}"></label>

            <input class="form-control col-sm-5" th:value="${prevalue}" style="width: 45em"
                   th:id="search" th:type="text" th:name="value">
        </p>

        <input type="submit" value="Search" class="btn btn-secondary">
    </form>


    </div>

    <div th:switch="${collectors}">
        <h2 th:if="${collectors == null or #lists.isEmpty(collectors)}" th:text="#{no.collector.collections}"></h2>
        <h2 th:case="*" th:text="#{title.coin.overview}" th:if="${!#lists.isEmpty(collectors) and collectors != null}"></h2>
        <h2 class="pt-4" th:case="null" th:text="#{no.coin.collections}"></h2>
        <h2 class="pt-4" th:case="*" th:text="#{title.coin.overview}" th:if="${!#lists.isEmpty(collectors) and collectors != null}"></h2>
        <span class="text-danger" th:if="${error != null}" th:text="#{${error}}"></span>
        <table class="table table-striped table-responsive-lg" th:if="${!#lists.isEmpty(collectors) and collectors != null}">
            <thead>
            <tr>
                <th th:text="#{Name}"></th>
                <th th:text="#{Firstname}"></th>
                <th th:text="#{Region}"></th>
                <th th:text="#{Age}"></th>
                <th th:text="#{update}"></th>
                <th th:text="#{delete}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="collector:${collectors}">
                <td class="pt-3" th:text="${collector.name}"></td>
                <td class="pt-3" th:text="${collector.firstname}"></td>
                <td class="pt-3" th:text="${collector.regio}"></td>
                <td class="pt-3" th:text="${collector.age}"></td>

                <td><a th:href="@{/collector/update/{id}(id=${collector.id})}" class="btn btn-secondary rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a></td>
                <td><a th:href="@{/collector/delete/{id}(id=${collector.id})}" class="btn btn-secondary rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>


</main>

<footer th:replace="fragments/footer"></footer>
</body>

</html>